$white: #fff;
$black: #000;

$red-100: #faddda;
$red-400: #ee6857;
$red-500: #f53f29;
$red-600: #c62c1a;

$gray-0: #fafafa;
$gray-30: #f7f7f7;
$gray-50: #f2f2f2;
$gray-100: #eaeaea;
$gray-200: #dedede;
$gray-300: #c8c8c8;
$gray-400: #a6a6a6;
$gray-500: #8a8a8a;
$gray-600: #737373;
$gray-700: #505050;
$gray-800: #323232;
$gray-900: #191919;

$blue-500: #3b6ae3;
$green-500: #2cad5a;

$shadow-100: 0 4px 20px rgba(0, 0, 0, 0.04);
$shadow-200: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-300: 0 4px 16px rgba(0, 0, 0, 0.08);

$mobile-max-width: 600px;
$header-height: 56px;
$bottom-nav-height: 55px;

$z-index-header: 100;
$z-index-modal-overlay: 200;
$z-index-modal: 201;
$z-index-fixed-loading: 300;
$z-index-toast: 400;
