html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  color: $gray-900;
  background-color: #eee;
  line-height: 1.5;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
