.question-masonry-component {
  padding-right: 20px;
  padding-left: 20px;

  .question-title {
    margin-bottom: 12px;
    color: $gray-900;
    font-size: 18px;
    font-weight: 700;
  }

  .question-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .question-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .question-card {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 12px;
    border-radius: 8px;
    background-color: $gray-100;
    cursor: pointer;
    text-align: left;

    .text {
      color: $gray-900;
      font-size: 13px;
      font-weight: 700;
      white-space: pre-line;

      strong {
        font-weight: 700;
      }
    }

    .tags {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .tag {
        display: inline-block;
        width: fit-content;
        padding: 4px 8px;
        border-radius: 100px;
        color: $gray-700;
        background: rgba(255, 255, 255, 0.7);
        font-size: 10px;
      }
    }
  }
}
